<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2018-2019
  ~ All rights reserved, Designed By www.joolun.com
  ~ 注意：
  ~ 本软件为www.joolun.com开发研制，未经购买不得使用
  ~ 购买后可获得全部源代码（禁止转卖、分享、上传到码云、github等开源平台）
  ~ 一经发现盗用、分享等行为，将追究法律责任，后果自负
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joolun.cloud.mall.admin.mapper.SetMealMapper">

    <resultMap id="setMealMap" type="com.joolun.cloud.mall.common.entity.SetMeal">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="picUrl" column="pic_url"/>
        <result property="sharePoint" column="share_point"/>
        <result property="period" column="period"/>
        <result property="orderRebateFirst" column="order_rebate_first"/>
        <result property="orderRebateSecond" column="order_rebate_second"/>
        <result property="inviteRebateFirst" column="invite_rebate_first"/>
        <result property="inviteRebateSecond" column="invite_rebate_second"/>
        <result property="merchantStatus" column="merchant_status"/>
    </resultMap>

    <sql id="setMealSql">
        set_meal.`id`,
        set_meal.`create_time`,
        set_meal.`update_time`,
        set_meal.`name`,
        set_meal.`price`,
        set_meal.`pic_url`,
        set_meal.`share_point`,
        set_meal.`period`,
        set_meal.`order_rebate_first`,
        set_meal.`order_rebate_second`,
        set_meal.`invite_rebate_first`,
        set_meal.`invite_rebate_second`,
        set_meal.`merchant_status`
    </sql>
</mapper>
